<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
   
<web-app  xmlns = " http://xmlns.jcp.org/xml/ns/javaee "
	 xmlns:xsi = " http://www.w3.org/2001/XMLSchema-instance "
	 xsi:schemaLocation = " http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd "
	 versão = " 3.1 " >
    <servlet>
        <servlet-name>TeatroController</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.controller.TeatroController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>VendasController</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.controller.VendasController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>PromocaoController</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.controller.PromocaoController</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>TeatroController</servlet-name>
        <url-pattern>/inserirTeatro</url-pattern>
        <url-pattern>/removerTeatro</url-pattern>
        <url-pattern>/atualizarTeatro</url-pattern>
        <url-pattern>/cadastrarTeatro</url-pattern>
        <url-pattern>/editarTeatro</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VendasController</servlet-name>
        <url-pattern>/inserirVendas</url-pattern>
        <url-pattern>/removerVendas</url-pattern>
        <url-pattern>/atualizarVendas</url-pattern>
        <url-pattern>/cadastrarVendas</url-pattern>
        <url-pattern>/editarVendas</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PromocaoController</servlet-name>
        <url-pattern>/inserirPromocao</url-pattern>
        <url-pattern>/removerPromocao</url-pattern>
        <url-pattern>/atualizarPromocao</url-pattern>
        <url-pattern>/cadastrarPromocao</url-pattern>
        <url-pattern>/editarPromocao</url-pattern>
    </servlet-mapping>
      
    <error-page>
        <exception-type>
            javax.servlet.ServletException
        </exception-type >
        <location>/erro.jsp</location>
    </error-page>
    
      <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>

